In [1]:
b = lambda x: "Even" if x%2 == 0 else "Odd"

In [5]:
b(8)

'Even'

In [7]:
L = [1,2,3,4,5]
list(map(lambda x:x*3,L))

[3, 6, 9, 12, 15]

In [11]:
L1 = [1,2,3,4,5,6,7,8,9,10]
filter(lambda x: x%2==0,L1)
list(filter(lambda x: x%2==0,L1))

[2, 4, 6, 8, 10]

In [15]:
import functools
print(functools.reduce.__doc__)

reduce(function, iterable[, initial], /) -> value

Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

This effectively reduces the iterable to a single value.  If initial is present,
it is placed before the items of the iterable in the calculation, and serves as
a default when the iterable is empty.

For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
calculates ((((1 + 2) + 3) + 4) + 5).

In [28]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
L1 = [item *2 for item in L if item%2==0]
print(L1)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [37]:
D = {"name":"preetham","age":"22","income":"100kusd"}
D1 = {key:value for key,value in D.items() if len(key) > 3}
print(D1)

{'name': 'preetham', 'income': '100kusd'}

Recursion

In [60]:
#by looping
def multiply(a,b):
    result = 0
    for i in range(b):
        result = result + a
    print(result)

In [62]:
multiply(2,4)

8

Factorial using recursion

In [75]:
def fact(number):
    if number == 1:
        return 1
    else:
        return number * fact(number-1)

In [76]:
fact(5)

120

In [82]:
value = input("")
reverse = value[::-1]
if value == reverse:
    print("it is an palindrome")
else:
    print("not an palimdrome")

not an palimdrome

In [115]:
def palin(text):
    if len(text) <= 1:
        print("palimdrome")
    else:
        if text[0] == text[-1]:
            palin(text[1:-1])
        else:
            print("not an palindrome")

In [116]:
palin("ee")

palimdrome

In [8]:
# 27. Write a program to print the first 25 odd numbers

L = range(1,50)
Odd = []
for i in L:
    if i%2!=0:
        Odd.append(i)

print(Odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [9]:
def fibb(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fibb(n-1) + fibb(n-2)
    
fibb(10)

55